<div class="form col-xs-4">
  <h4>Member Login</h4>
  <%= form_for(:session, url: login_path) do |f| %>
    <p>
      <%= f.label :email %><br />
      <%= f.text_field :email, class: "form-control" %>
    </p>
    <p>
      <%= f.label :password %><br />
      <%= f.password_field :password, class: "form-control" %>
    </p>
    <%= f.submit "Login", class: 'btn btn-sm btn-info'%>
  <% end %>
</div>
