<div class="registration-image">
  <div class="form col-xs-6 table-margin">
    <h1><%= current_user.nickname %>'s Info</h1>

<%= form_for(current_user, url: health_profile_path, method: :patch, role:"form") do |f| %>

<div>
  <%= f.label :first_name %>
  <%= f.text_field :first_name, class: "form-control" %>
</div><br>

<div>
  <%= f.label :last_name %>
  <%= f.text_field :last_name, class: "form-control" %>
</div><br>


<div>
  <%= f.label :email %>
  <%= f.email_field :email, class: "form-control" %>
</div><br>

<%= f.submit "Submit", id: "check-in", class: "btn btn-primary" %>    
<% end %>
  </div>
</div>

