  <div class="row">
    <div class="col-xs-12">


      <div class="col-xs-3 centered pad-top" id="edit">
        <%= image_tag(current_user.image_url, class: "img-circle img-thumbnail user-image") %>
        <h4><em> <%= current_user.nickname %></em></h4>
        <hr>
        <strong>Age</strong><br>
        <p><%= current_user.age %></p>

         <strong>Weight</strong><br>
        <p><%= current_user.weight %></p>
        
        <strong>Fitness Level</strong> 
        <p><%= current_user.fitness_level%></p>
        <p><%= link_to "Edit profile", edit_user_path %></p>
        <p><%= link_to "Edit Health profile", edit_health_profile_path %></p>
      </div>

      <div class='col-xs-9'>
        <div class="centered pad-top">
          <% if current_user && !current_user.first_name.present? %>
            <h1> <%= current_user.nickname %>'s Dashboard </h1>
          <% else %>
            <h1> <%= current_user.first_name %>'s Dashboard </h1>
          <% end %>
         <%= render :partial => 'food_search_user' %>
        </div>
      </div>

      <div class='col-xs-9'>
      <h2> My Scheduled Workouts</h2>
      <table class="table table-condensed">
      <tr>
        <th>Splurge</th>
        <th class="centered">Calories</th>
        <th class="centered">Exercise</th>
        <th class="centered">Burn Time</th>
        <th></th>
      </tr>

      <% @workouts.each do |workout| %>
        <tr class="" border ="1">
          <td> <%= truncate(workout.food_search, length: 50)%></td>
          <td class="centered"> <%= workout.calories %></td>
          <td class="centered"> <%= workout.exercise.name %></td>
          <td class="centered"> <%= workout.burn_time %></td>
        </tr>
      <% end %>
    </table>
   
      <hr>
      </div>

    </div>
