
<%= form_tag(exercises_path) do %>

  <div>
    <%= label_tag(:select_food) %>  
    <%= select_tag(:food, options_for_select([['Spaghetti',630],
      ['Cheesecake',700],['California Burger',830], ['Jr. Chili Burger',410],
      ['Pizza - Sausage & Pepperoni',240]])) %>
 
    <%= label_tag(:enter_weight) %>  
    <span class="weight"><%= number_field_tag(:weight, class: "form-control") %></span>
  </div>

  <p>
    <%= submit_tag 'EARN IT NOW!', class:'btn btn-success'%>
  </p>

<% end %>
