
<div class="column-xs-2"></div>
  <%= form_tag(food_search_path, method: :get) do %>

    <div>
      <!-- <%= label_tag(:food_search) %> -->
      <%= text_field_tag(:food_search, nil, placeholder: "search for food", class: "form-control black-text typehead") %><br>
  </div>

      <!-- <%= label_tag(:enter_weight) %>   -->
      <span class="black-text"><%= number_field_tag(:weight, nil, placeholder: "enter weight", min: 50, class: "form-control black-text") %></span><br>

    <p>
      <%= submit_tag 'EARN IT NOW!', class:'btn btn-success'%>
    </p>

  <% end %>
