  <hr>
  <h3>How fit are you? </h3>

  <div>
    <%= f.label(:fitness_level_sedentary) do %>
      <span class="pad-right2"><%= f.radio_button(:fitness_level, "1: Sedentary") %></span>
      <strong> Sedentary: You've heard of exercise </strong>
    <% end %> 
  </div><br>

  <div>
    <%= f.label(:fitness_level_somewhat_ative) do %>
      <span class="pad-right2"><%= f.radio_button(:fitness_level, "2: Somewhat Fit") %></span>
      <strong> Somewhat Fit: You participate in light exercise or take long walks </strong>
    <% end %> 
  </div><br>
 
  <div>
    <%= f.label(:fitness_level_moderately_fit) do %>
      <span class="pad-right2"><%= f.radio_button(:fitness_level, "3: Moderate") %></span>
      <strong> Moderate: You exercise 2-3 times a week and push yourself pretty hard </strong>
    <% end %> 
  </div><br>
  
  <div>
    <%= f.label(:fitness_level_crazy_fit) do %>
      <span class="pad-right2"><%= f.radio_button(:fitness_level, "4: Diesel Fit") %></span>
      <strong> Diesel Fit: You participate in physical sports such as jogging or mountain-biking daily</strong>
    <% end %> 
  </div><br>


