<div class="registration-image">
  <div class="form col-xs-6 table-margin">
    <h1>Health Profile</h1>

    <%= form_for(:user, url: health_profiles_path, method: :post, role:"form") do |f| %>

      <p> <strong> Gender</strong> 
        <%= label_tag(:gender, "female") %>
        <%= radio_button_tag(:gender, "female") %>
        <%= label_tag(:gender, "male") %>   
        <%= radio_button_tag(:gender, "male") %>
      </p>

        <%= label_tag(:age, "Age") %>   
        <%= number_field(:user, :age, in: 1.0..100.0, step: 1.0) %>

        <%= label_tag(:weight, "Weight (lbs)") %> 
        <%= number_field(:user, :weight, in: 80..400.0, step: 1.0) %>

        <%= render 'health_profiles/activity_level_data' %>

        <%= f.submit "Submit", class: "btn btn-info" %>

    <% end %>

  

