<div class="container">
 <div class="row">
    <div class="col-xs-10">
    <div>
      <h1> <%= @food_search[:name] %>? </h1>
      <h3> That's <em>only</em> <%= @food_search[:calories] %> calories!</h3>
      <h4> Since you weigh <%= @weight %>  pounds, here are some ways to earn that splurge!</h4>
    </div>

  <div class="col-xs-8">
    <table class="table table-condensed">
      <tr>
        <th></th>
        <th>Exercise</th>
        <th>Time to Burn it Off</th>
      </tr>

        <% @exercises.each do |exercise| %>
          <tr class="" border ="1">
            <td><%= check_box_tag "exercises_ids[]", exercise.id %></td>
            <td> <%= exercise.name %></td>
            <td> <%= exercise.burn_time(@calories, @weight) %></td>
          </tr>
        <% end %>
    </table>

    <div class="btn btn-success white-text">
    <%= link_to 'Save it!', exercises_path,method: :get %>
    </div>
    <em>(click here to save your workout!)</em>
  </div>

    <div class="col-xs-4 pull-right">
      <%= image_tag('WILL-RUN-FOR-FOOD_right.png') %>
    </div>

    </div>  
  </div>
</div>