<div class="container">
 <div class="row">
    <div class="col-xs-10">
    <div>
      <h1> <%= @food_search %> sounds delicious! </h1>
      <h3> That's <em>only</em> <%= @calories %> calories!</h3>
      <h4> Since you weigh <%= @weight %>  pounds, here are some ways to earn that splurge!</h4>
    </div>

  <div class="col-xs-8">

  <% path = current_user ? workouts_path : pending_workouts_path%>
  <%= form_tag path do %>
    <table class="table table-condensed">
      <tr>
        <th></th>
        <th>Exercise</th>
        <th>Time to Burn it Off</th>
      </tr>

      <% @exercises.each do |exercise| %>
        <tr class="" border ="1">
          <td><%= radio_button_tag "workout[exercise_id]", exercise.id, false, :checked => (exercise == @exercises.first)  %></td>
          <td> <%= label_tag "workout_exercise_id_#{exercise.id}", exercise.name %></td>
          <td> <%= exercise.burn_time(@calories, @weight) %></td>
        </tr>
      <% end %>
    </table>
    <%= hidden_field_tag 'workout[calories]', @calories %>
    <%= hidden_field_tag 'workout[food_search]', @food_search %>
    <%= submit_tag 'Save it!', class: "btn btn-success white-text" %>
  <% end %>
    <em>(click here to save your workout!)</em>
  </div>

    <div class="col-xs-4 pull-right">
      <%= image_tag('WILL-RUN-FOR-FOOD_right.png') %>
    </div>

    </div>  
  </div>
</div>


