<!DOCTYPE html>
<html>
<head>
  <title>Burn It To Earn It</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%= render 'layouts/nav_bar' %>
  <body class="opacity <%=@body_class%>">
      <div class="flash">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: "alert alert-#{name} text-center" %>
        <% end %>
      </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

